# Node
node_modules/

# Environment
.env
.env.*

!.env.example

# Logs
npm-debug.log*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# AWS credentials
*.pem
*.csv

# VS Code
.vscode/

# macOS
.DS_Store